<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://line-chatbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>line-chatbot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Line-ChatBot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Line-ChatBot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LineModel" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Prj_LineBot.Models.LineModel, Prj_LineBot" MigrationConfiguration="Prj_LineBot.Migrations.Configuration, Prj_LineBot" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LineBotEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=140.137.12.79;Initial Catalog=LineBot;Persist Security Info=True;User ID=prj_linebot;Password=adm@1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LineBotEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.QuestionModel.csdl|res://*/Models.QuestionModel.ssdl|res://*/Models.QuestionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=140.137.12.79;initial catalog=LineBot;persist security info=True;user id=prj_linebot;password=adm@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LineBotContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=140.137.12.79;Initial Catalog=LineBot;Persist Security Info=True;User ID=prj_linebot;Password=adm@1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LineBotContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LineBotModel.csdl|res://*/Models.LineBotModel.ssdl|res://*/Models.LineBotModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=140.137.12.79;initial catalog=LineBot;persist security info=True;user id=prj_linebot;password=adm@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LineBotContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LineBotEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LineModel-Web.config Connection String" />
  </ItemGroup>
</Project>